.formContainer{

    display:flex;
    flex-direction: column;
    align-items: center;


  
  
}

/* .formsubHouse{

    display:flex;
    flex-direction: row;




} */
.CardSectionsContainer{
    height:100%;
    background-color:#cf9423;
    position: fixed;

    top:100px;
    left:0;



}