
.options-selection{
    /* display: flex; */
    height:50px;
    /* align-items: center; */

}
.options-selection-placeholder{

    border-style: none;
    border-bottom: 1px solid grey;
    width:150px;
    height:25px;
    padding-left:10px;
    padding-top: 15px;
    background-image: url("../../images/down-chevron.png");
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    
}

.o-s-p-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  

}


.option_image_uploads{


    width:30px;
    height:30px;
    
    background-image: url("../../images/image_for_option.png");

	background-repeat: no-repeat, repeat;
	background-position: left 50% top 50%, 0 0;
    background-size: 15px auto, 100%;
    border-radius:100%;

}


.option_image_uploads:hover{

    background-color: #e9ebee;


}


.options-selection-options{


    visibility:hidden;
    opacity: 0;
    
   
    
    transform: translateY(-0.5em);
  
    -webkit-transition: visibility 1s,opacity 1s;
    transition: visibility 1s,transform 1s,opacity 1s;
   


}

.options-selection-options-alternate{


    visibility:visible;
    opacity: 1;
   
    transform: translateY(0.5em);
    -webkit-transition: visibility 1s,opacity 1s;
    transition: visibility 1s,transform 1s,opacity 1s;
    
 

}

.options-selection-placeholder-alternate{

    border-style: none;
    border-bottom: 1px solid grey;
    width:150px;
    height:25px;
    padding-left:10px;
    padding-top: 15px;
    background-image: url("../../images/up-arrow.png");
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
   
}
ul{
    margin-top:0;
    padding-left:0;
    width:160px;
    list-style-type: none;
    background-color: white;
}

li{
    font-family: sans-serif;
    padding-top:10px;
    /* padding-left: 40px; */
 
    text-align: center;
   
    border-bottom: 1px solid grey;
    width:160px;
    height: 25px;

}

li:hover{

    background-color: #e9ebee;


}

.radio{

    background-image: url("../../images/radio-on-button.png");

	background-repeat: no-repeat, repeat;
	background-position: left .7em top 40%, 0 0;
    background-size: 1em auto, 100%;
}
.check{
    background-image: url("../../images/black-check-box-with-white-check.png");

	background-repeat: no-repeat, repeat;
	background-position: left .7em top 40%, 0 0;
    background-size: 1em auto, 100%;
}
.image{

    background-image: url("../../images/photo-interface-symbol-with-mountains-landscape.png");

	background-repeat: no-repeat, repeat;
	background-position: left .7em top 40%, 0 0;
    background-size: 1em auto, 100%;  
}
.text{
    background-image: url("../../images/justify.png");

	background-repeat: no-repeat, repeat;
	background-position: left .7em top 40%, 0 0;
    background-size: 1em auto, 100%;  
}

